<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>EveryWeek.com</title>
  <meta charset="utf-8">
<base href="/">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" href="css/styles.css">


  <link rel="icon"  href="/css/favicon.ico"  />



</head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light ">
  <div id="header" class=" container-fluid">
  <a class="navbar-brand" style="font-family: 'Libre Baskerville', serif; color:#476072;" href="/">EVERYWEEK.com </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse list navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
        <li class="nav-item" id="home"><a class="nav-link"  href="/">HOME</a></li>
            <li class="nav-item" id="about"><a class="nav-link"  href="/about">ABOUT US</a></li>
            <li class="nav-item" id="feedback"><a class="nav-link"  href="/feedback">FEEDBACK</a> </li>
            <li class="nav-item" id="login"><a class="nav-link"  href="/register">REGISTER</a></li>
              <li class="nav-item" id="contact"><a class="nav-link"  href="/contact">CONTACT US</a></li>
      </ul>

    </div>
  </div>
</nav>

    <div class="container">
