<%- include("partials/header"); -%>
    <h1 class="main-head">About</h1>
    <p class="conpara" style="font-size:25px;">We are a group of fullstact developer. We make every type of projets and we make
    intersting website and many more if you like us to make any type of website you can contact us. This is just a blog type website
  having database. In the coming days we tend to make more and more useful website for all types of people.
Thank you for visiting our site. We also warmly welcomes all the newbie fullstact developers who are willing
o work with us in any kind of project. Thank you for visiting our site.</p>
<%- include("partials/footer"); -%>
