<%- include("partials/header"); -%>
<div class="jumbotron text-center">
<h1 class="display-3">Uh Oh!</h1>
<p class="lead"><strong>Sorry! <table>

</table></strong> The registration was unsuccesful please try again after some time</p>
<hr>

  <p>
    Having trouble? <a href="/contact.html">Contact us</a>
  </p>


<form class="" action="/failure.html" method="post">

    <button  class="btn btn-primary btn-sm"  role="button">Try again</button>

</form>

</div>


<%- include("partials/footer"); -%>
