<%- include("partials/header"); -%>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<h1 class="main-head">Home</h1>
<p class="conpara"> Hey dear, You are most welcome to our EveryWeek.com, Here we will be presenting five
  amazing new facts about our planet every week, If you are interested about facts here
  is the right place, Also to stay tuned you can register to our site ,So that we can notified
  you everyweek about the latest amazing facks. And also feel free
  to write us feedback or any suggestion that you want to see in our site. </p>
<hr id="top">

<div class="">
  <h3>1. The only Floating Post office In the World : DAL LAKE, Srinagar</h3>
  <img class='amaze-img' src="https://www.holidify.com/images/cmsuploads/compressed/Floating_Post_Office_Dal_Lake_14598325813_20201109162340.jpg" alt="dallake.png">
  <p class="conpara">Dal is mentioned as Mahasarit (Sanskrit-महासरित्) in ancient Sanskrit texts. Ancient
    history records mention that a village named Isabar to the east of Dal was the residence
    of goddess Durga. This place was known as Sureshwari on the bank of the lake,
    which was sourced by a spring called the Satadhara. During the Mughal period,
    the Mughal rulers of India designated Kashmir, Srinagar in particular, as their summer resort. They developed the precincts of the Dal in Srinagar with sprawling Mughal-type gardens and pavilions as pleasure resorts to enjoy the salubrious cool
    climate. After the death of Aurangzeb in 1707, which led to the
    disintegration of the Mughal Empire, Pashtun tribes in the area around the lake and city increased,
    and the Afghan Durrani Empire ruled the city for several decades.</p>
  <p class="new-line">In 1814 a significant part of the
    Kashmir valley, including Srinagar, was annexed from the Afghans by Raja Ranjit Singh to his kingdom,
    and the Sikhs grew in influence in the region for 27 years. Nishat Bagh Mughal Gardens
    During the Dogra Raj, Srinagar became the capital of Dogra territory, attracted by the cool climate of the
    Kashmir valley, amidst the back drop of the majestic snow covered Himalayan ranges. The lake precincts experience
    temperatures in the range of 1–11 °C (34–52 °F) during winter and 12–30 °C (54–86 °F) during the summer season.
    The lake freezes when temperatures drop to about −11 °C (12 °F) during severe winter. Although the Dogra
    Maharaja of Kashmir restricted the building of houses in the valley, the British circumvented this rule by
    commissioning lavish houseboats to be built on the Dal. The houseboats have been referred to as, "each one
    a little piece of England afloat on Dal." After the independence of India, the Kashmiri Hanji people
    have built, owned and maintained these houseboats, cultivating floating gardens and producing commodities
    for the market, making them the centre of their livelihoods. The houseboats, closely associated with Dal
    also provide accommodation in Srinagar. Following the Mughal, Afghan, Sikh and Dogra rule, the place has
    earned the epithet, "Jewel in the crown of Kashmir".</p>

</div>
<div class="">
  <h3>2. Mount Tambora : World most Deadly Volcano</h3>
  <img class='amaze-img' src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Mount_Tambora_Volcano%2C_Sumbawa_Island%2C_Indonesia.jpg/1280px-Mount_Tambora_Volcano%2C_Sumbawa_Island%2C_Indonesia.jpg" alt="volcano.png">
  <p class="conpara">Mount Tambora, or Tomboro, is an active stratovolcano in West Nusa Tenggara, Sumbawa, Indonesia in one of
    the Lesser Sunda Islands of Indonesia. It was formed by the active subduction zones beneath it. Before its 1815
    eruption, it was more than 4,300 metres (14,100 feet) high, making it one of the tallest peaks in the
    Indonesian archipelago.Tambora's 1815 eruption was the largest in recorded human history and the largest of the Holocene (10,000 years
    ago to present). The magma chamber under Tambora had been drained by previous eruptions and underwent several
    centuries of dormancy as it refilled. Volcanic activity reached a peak that year, culminating in an explosive
    eruption. The explosion was heard on Sumatra island, more than 2,000 kilometres (1,200 miles) away. Heavy
    volcanic ash rains were observed as far away as Borneo, Sulawesi, Java, and Maluku islands, and the maximum
    elevation of Tambora was reduced from about 4,300 metres (14,100 ft) to 2,850 metres (9,350 feet). Although
    estimates vary, the death toll was at least 71,000 people. The eruption contributed to global climate
    anomalies in the following years, while 1816 became known as the "year without a summer" because of the impact
    on North American and European weather.</p>
  <p class="new-line">
    In the Northern Hemisphere, crops failed and livestock died, resulting
    in the worst famine of the century.Radiocarbon dating has established that Mount Tambora had erupted three times during the current Holocene epoch before the 1815 eruption
    but the magnitudes of these eruptions are unknown. Their estimated dates are 3910 BC ± 200 years, 3050 BC and 740 AD ± 150 years.[23] An earlier caldera was filled with lava flows starting from 43,000 years BP; two pyroclastic eruptions occurred
    later and formed the Black Sands and Brown Tuff formations, the last of which was emplaced between about 3890 BC and 800 AD.
    In 1812, Mount Tambora became highly active, with its maximum eruptive intensity occurring in April 1815.
    The magnitude was 7 on the Volcanic Explosivity Index (VEI) scale, with a total tephra ejecta volume of up to
    1.8 × 1011 cubic metres. Its eruptive characteristics included central vent and explosive eruptions,
    pyroclastic flows, tsunamis and caldera collapse. This eruption had an effect on global climate. Volcanic
    activity ceased on 15 July 1815. Activity resumed in August 1819—a small eruption with "flames" and
    rumbling aftershocks, and was considered to be part of the 1815 eruption. This eruption was recorded
    at 2 on the VEI scale.Around 1880 ± 30 years, eruptions at Mount Tambora have been registered only
    inside the caldera. It created small lava flows and lava dome extrusions; this was recorded at two on
    the VEI scale. This eruption created the Doro Api Toi parasitic cone inside the caldera.
  </p>
</div>
<div class="">
  <h3>3. Zambezi : World most dangerous river</h3>
  <img class="amaze-img" src="https://upload.wikimedia.org/wikipedia/commons/b/be/Zambezi_River_at_junction_of_Namibia%2C_Zambia%2C_Zimbabwe_%26_Botswana.jpg" alt="img.png">
  <p class="conpara">The Zambezi River (also spelled Zambeze and Zambesi) is the fourth-longest river in Africa, the longest
    east-flowing river in Africa and the largest flowing into the Indian Ocean from Africa. The area of its basin is 1,390,000 square kilometres (540,000 sq mi), slightly less than half of the Nile's. The 2,574-kilometre-long river (1,599 mi) arises
    in Zambia and flows through eastern Angola, along the north-eastern border of Namibia and the northern border of Botswana, then along the border between Zambia and Zimbabwe to Mozambique, where it crosses the country to empty into the Indian
    Ocean. The Zambezi's most noted feature is Victoria Falls. Other notable falls include the
    Chavuma Falls at the border between Zambia and Angola, and Ngonye Falls, near Sioma in Western Zambia.
    There are two main sources of hydroelectric power on the river, the Kariba Dam,
    which provides power to Zambia and Zimbabwe, and the Cahora Bassa Dam in Mozambique, which provides
    power to Mozambique and South Africa. There are additional two smaller power stations along the Zambezi
    River in Zambia, one at Victoria Falls and the other one near Kalene Hill in Ikelenge District. The river rises in a black marshy dambo in dense undulating miombo woodland 50 kilometres (31 mi) north
    of Mwinilunga and 20 kilometres (12 mi) south of Ikelenge in the Ikelenge District of North-Western Province, Zambia at about 1,524 metres (5,000 ft) above sea level. The area around the source is a national monument, forest reserve and Important
    Bird Area.
    Eastward of the source, the watershed between the Congo and Zambezi basins is a well-marked belt of high ground, running nearly east–west and falling abruptly to the north and south. This distinctly cuts off the basin of the Lualaba (the main
    branch of the upper Congo) from that of the Zambezi. In the neighborhood of the source the watershed is not as clearly defined, but the two river systems do not connect.</p>

</div>
<div class="">
  <h3> 4. Pan-American Highway : World longest Road</h3>
  <img class="amaze-img" src="https://explorersweb.com/wp-content/uploads/2021/06/cape-town-to-magadan.png" alt=road.png">
  <p class="conpara">The Pan-American Highway is a network of roads stretching across the Americas and measuring about 30,000 kilometres (19,000 mi) in total length. Except for a rainforest break of approximately 106 km (66 mi) across the border
    between southeast Panama and northwest Colombia, called the Darién Gap, the roads link almost all of the Pacific coastal countries of the Americas in a connected highway system. According to Guinness World Records, the Pan-American Highway is the
    world's longest "motorable road". However, because of the Darién Gap, it is not possible to cross between South America and Central America with conventional highway vehicles. Without an all-terrain vehicle, the only way to safely navigate this
    stretch is by sea.

    The Pan-American Highway passes through many diverse climates and ecological types – ranging from dense jungles to arid deserts and barren tundra. Some areas are fully passable only during the dry season, and in many regions driving is
    occasionally hazardous. The Pan-American Highway system is physically mostly complete and extends in de facto terms from Prudhoe Bay, Alaska, in North America, to the lower reaches of South America. Several southern highway termini are claimed,
    including the cities of Puerto Montt and Quellón in Chile, and Ushuaia in Argentina.

    West and north of the Darién Gap, this roadway is also known as the Inter-American Highway through Central America and Mexico. There it splits into several spurs leading to the Mexico–United States border.</p>

</div>
<div class="">
  <h3>5. Sequoia sempervirens : World tallest tree</h3>
  <img class="amaze-img" src="https://cdn.mos.cms.futurecdn.net/sYFRMWUUdmJXUAbDJjEdTa-1024-80.jpg.webp" alt="tree.png">
  <p class="conpara">Sequoia sempervirens is the sole living species of the genus Sequoia in the cypress family Cupressaceae (formerly treated in Taxodiaceae). Common names include coast redwood, coastal redwood and California redwood. It is an
    evergreen, long-lived, monoecious tree living 1,200–2,200 years or more. This species includes the tallest living trees on Earth, reaching up to 115.5 meters (379 ft) in height (without the roots) and up to 8.9 meters (29.2 ft) in diameter at
    breast height . These trees are also among the oldest living things on Earth. Before commercial logging and clearing began by the 1850s, this massive tree occurred naturally in an estimated 810,000 hectares (2,000,000 acres) along much of coastal
    California (excluding southern California where rainfall is not sufficient) and the southwestern corner of coastal Oregon within the United States.

    The name sequoia sometimes refers to the subfamily Sequoioideae. sempervirens along with Sequoiadendron (giant sequoia) and Metasequoia (dawn redwood). Here, the term redwood on its own refers to the species covered in this article but not to the
    other two species.Coast redwood reproduces both sexually by seed and asexually by sprouting of buds, layering, or lignotubers. Seed production begins at 10–15 years of age. Cones develop in the winter and mature by fall. In the early stages, the
    cones look like flowers, and are commonly called "flowers" by professional foresters, although this is not strictly correct. Coast redwoods produce many cones, with redwoods in new forests producing thousands per year. The cones themselves hold
    90–150 seeds, but viability of seed is low, typically well below 15% with one estimate of average rates being 3 to 10 percent</p>

</div>


<%- include("partials/footer"); -%>
