<%- include("partials/header"); -%>

<div style="padding-top:30px;margin-top:60px;" class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>You have Succesfull registered for this page</strong>
     </p>
  <hr>
  <p>
  For further information feel free to  <a href="/contact">Contact us</a>
  </p>
  <form class="" action="/" method="get">

      <button  class="btn btn-primary btn-sm"  role="button">Go to home page</button>

  </form>
</div>




<%- include("partials/footer"); -%>
